* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.highestInTheRoom {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

#pOd {
    border: solid black 2px;
    text-decoration: none;
    color: black;
    width: 175px;
    height: 25px;
}

#sI {
    border: solid black 2px;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 25px;
}
 .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    margin-top: 10px;
    height: 35px;
 }

 .banner a {
    color: black;
    text-decoration: none;
 }

 #articleIntro {
    padding-left: 8px;
    border: solid black 2px;
    font-size: 55px;
    line-height: 45px;
    width: 925px;
    height: 115px;
    left: 0;
    right: 0;
    margin: auto; /* Why does margin-top have to be placed after margin: auto in order for this element to change? */
    margin-top: 15px;
 }

 #byAuthor {
    margin-left: 175px; /* Is there a better way to position this heading? */
 }

.socialMedia a {
    text-decoration: none;
    border: solid black 2px;
    color: black;
    padding: 2px;
 }

 #sH {

}

.nC {
    background-image: url("nutcracker.jpg");
    width: 925px;
    height: 175px;
    left: 0;
    right: 0;
    margin: auto;
    border: solid black 2px;
}
 #tL {
    display: inline-block;
    text-indent: 160px;
    font-size: 18px;
 }

 #sIl {
    font-size: 33px;
    height: 135px;
    width: 1300px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
 }

 #sIt {
    font-size: 33px;
    height: 135px;
    width: 1300px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
 }


.moreInfoHead {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    width: 925px;
    height: none;
    left: 0;
    right: 0;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}



.endOfPage {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}

.endOfPage a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
